*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    transition: all 2s ease-in-out;
}

body{
    height: 100vh;
    width: 100%;
}

/* ---------------COLORS--------------- */
.negro{
    background-color: black;
}
.blanco{
    background-color: white;
}
.rojo{
    background-color: red;
}
.violeta{
    background-color: rgb(100, 16, 100);
}

.container{
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #55acee, #292f33);
    
    display: grid;
    place-items: center;
}
.tarjeta{
    height: 550px;
    width: 50%;
    max-width: 350px;
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    box-shadow: 5px 20px 15px -3px rgba(0, 0, 0, 0.5);
}
 .encabezado{
        height: 100px;
        width: 100%;
        background-color: #ccd6d0;
        border-radius: 12px 12px 0 0;
        padding: 10px;
    }

 .producto{
        height: 180px;
        width: 100%;
        background-color: #e1e8ed;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    
 }
 ul.sel_colores{
        display: flex;
        justify-content: center;
        gap: 10px;
 }
 ul.sel_colores li{
            height: 20px;
            width: 20px;
            border-radius: 50%;
            list-style: none;
        }

        ul.sel_colores li:hover{
            transform: scale(1.1);
            cursor: pointer;
            list-style: none;
        }
    
    

.desc_prod{
        height: 180px;
        width: 100%;
        background-color: #55acee;
        padding: 10px;
    }
.botonera{
        height: 72px;
        width: 100%;
        background-color: #218bdb;
        padding: 10px;
    }


    ul.sel_colores li{
    list-style: none;
}
.producto span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.producto .precio{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
.producto .talles{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    width: 80%;
}
ul.talles li{
    border: solid 1px gray;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}
ul.talles li:hover{
background-color: grey;
color: white;
cursor: pointer;
transform: scale(1.26);

}
.botonera{
    display: grid;
    place-items: center;
}
.botonera button{
    padding: 5px 15px;
border-radius: 20px;
border: 0;
font-size: 18px;
}
button:hover{
    background-color: violet;
    color: white;
    box-shadow: 0 0 15px -3px black;
    cursor: pointer;
}
.flex{display: flex; justify-content: space-between;}
.fondo-rojo{background-color: chartreuse;}
@media screen and (max-width: 600px){
    .container{
        background: linear-gradient(#21db49 0%, #292f33 100%);
    }
}